body{
    margin: 0;
    background-color: rgb(101, 114, 232);
   box-sizing: border-box;
}
.todo-container{
    
    width: 350px;
 
      
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.input-section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
    display: block;
}

.input-section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    box-shadow: 0 3px 6px #383636;
    outline: none;
    color:silver ;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;
}
ul{
   
    text-align: left;
    padding: 0;
}
ul li{
    display: flex;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: gray;
    box-shadow: 0 3px 6px #383636;
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}
input::placeholder{
    color:silver ;
}

/* public  */